{% load static %}

<!-- COMMON SCRIPTS -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/common_scripts.min.js' %}"></script>
<script src="{% static 'js/velocity.min.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/file-validator.js' %}"></script>

<!-- Wizard script-->
<script src="{% static 'js/func_1.js' %}"></script>

<!-- MODERNIZR MENU -->
<script src="{% static 'js/modernizr.js' %}"></script>